.root {
    -fx-background-color: #1E1E2F;
    -fx-font-family: Arial;
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #0B3D91;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
}

.text-field, .password-field {
    -fx-background-color: #2A2A40;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #aaaaaa;
}

.table-view {
    -fx-background-color: #2A2A40;
    -fx-text-fill: #ffffff;
}

.table-view .column-header-background {
    -fx-background-color: #0B3D91;
}