.root {
    -fx-background-color: #ffffff;
    -fx-font-family: Arial;
}

.label {
    -fx-text-fill: #0B3D91;
}

.button {
    -fx-background-color: #0B3D91;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
}

.text-field, .password-field {
    -fx-background-color: #E6F0FF;
    -fx-text-fill: #0B3D91;
    -fx-prompt-text-fill: #666666;
}

.table-view {
    -fx-background-color: #E6F0FF;
    -fx-text-fill: #0B3D91;
}

.table-view .column-header-background {
    -fx-background-color: #0B3D91;
    -fx-text-fill: #ffffff;
}