.glass-alert {
    /* 0.9 opacity makes the glass 'thick' enough to hide background text */
    -fx-background-color: linear-gradient(to bottom right, 
                          rgba(216, 229, 247, 1.0), 
                          rgba(216, 229, 247, 1.0));
    
    -fx-border-color:rgba(216, 229, 247, 1.0);
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    


.glass-alert .header-panel .label {
    -fx-font-family: "SF Pro Display", "Segoe UI", sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1f;
    -fx-padding: 30 30 10 30;
}

.glass-alert .content.label {
    -fx-font-size: 16px;
    -fx-text-fill: #424245;
    -fx-padding: 0 30 30 30;
}

.glass-alert .button-bar {
    -fx-background-color: rgba(216, 229, 247, 1.0); /* Subtle dark tint for the footer */
    -fx-background-radius: 0 0 20 20;
    -fx-padding: 15 20;
}

}